@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To EventEase</h1>
    <td>
        <img height="500" width="1000" src="https://mlo1wbhvgmgt.i.optimole.com/w:auto/h:auto/q:mauto/f:best/https://pethero.co.za/wp-content/uploads/2024/04/puppy-health.jpg"></img>
    </td>
</div>
